@model MirKvartir.Models.Article

@{
    ViewData["Title"] = "Интересная статья";
}

<h1>@ViewData["Title"]</h1>

<div>
    <div class="form-group">
       
        <p>@Model.Text</p>

    </div>

</div>

